/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/airrflow Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    // Input parameters
    input = null
    mode = "fastq"
    miairr="$projectDir/assets/reveal/mapping_MiAIRR_BioSample_v1.3.1.tsv"
    index_file = false
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/airrflow/' // Needs to be before it's called


    // ----------------------------
    // sequencing protocol options
    // ----------------------------
    library_generation_method = null
    race_linker = null

    // Primer and UMI inputs
    cprimers = null
    vprimers = null
    vprimer_start = 0
    cprimer_start = 0
    cprimer_position = 'R1'
    primer_revpr = false

    // UMI and primer handling
    umi_position = 'R1'
    umi_length = -1
    umi_start = 0

    // trimming options
    trim_fastq = true
    adapter_fasta = null
    clip_r1 = 0
    clip_r2 = 0
    three_prime_clip_r1 = 0
    three_prime_clip_r2 = 0
    trim_nextseq = false
    save_trimmed = false

    // --------------------------
    // sequence assembly options
    // --------------------------
    // Filter sequences
    filterseq_q = 20

    // Mask primers
    primer_r1_maxerror = 0.2
    primer_r2_maxerror = 0.2
    primer_r1_mask_mode = 'cut'
    primer_r2_mask_mode = 'cut'
    maskprimers_align_race = false
    maskprimers_align = false
    maskprimers_extract = false
    primer_r1_extract_len = 0
    primer_r2_extract_len = 0
    primer_maxlen = 50

    // Build consensus
    primer_consensus = 0.6
    buildconsensus_maxerror = 0.1
    buildconsensus_maxgap = 0.5
    cluster_sets = true

    // Assemble pairs
    assemblepairs_sequential = false

    // internal cregion
    align_cregion = false
    internal_cregion_sequences = null
    cregion_maxlen = 100
    cregion_maxerror = 0.3
    cregion_mask_mode = 'tag'

    // -----------------------
    // vdj annotation options
    // -----------------------
    productive_only = true
    reassign = true
    reference_igblast = pipelines_testdata_base_path + 'database-cache/igblast_base.zip'
    reference_fasta = pipelines_testdata_base_path + 'database-cache/imgtdb_base.zip'
    fetch_imgt = false
    save_databases = true
    skip_alignment_filter = false

    // -----------------------
    // bulk filtering options
    // -----------------------
    remove_chimeric = false
    detect_contamination = false
    collapseby = 'sample_id'

    // -----------------------
    // clonal analysis options
    // -----------------------
    cloneby = 'subject_id'
    crossby = 'subject_id'
    singlecell = 'single_cell'
    clonal_threshold = 'auto'
    skip_all_clones_report = false
    skip_report_threshold = false
    skip_clonal_analysis = false

    // -----------------------
    // tree lineage options
    // -----------------------
    lineage_tree_builder = 'raxml'
    lineage_tree_exec = '/usr/local/bin/raxml-ng'
    lineage_trees = false

    // -----------------------
    // genotyping options
    // -----------------------
    genotyping = false
    genotypeby = 'subject_id'
    novel_allele_inference = true

    // -----------------------
    // translate embed options
    // -----------------------
    translate = false
    embeddings = null
    embedding_chain = 'H'
    use_gpu = false

    // -----------------------
    // reporting options
    // -----------------------
    skip_report = false
    report_rmd = "$projectDir/assets/repertoire_comparison.Rmd"
    report_css = "$projectDir/assets/nf-core_style.css"
    report_logo = "$projectDir/assets/nf-core-airrflow_logo_light.png"
    report_logo_img = "$projectDir/assets/nf-core-airrflow_logo_reports.png"

    // -----------------------
    // Single cell raw input options
    // -----------------------
    reference_10x = null

    // -----------------------
    // raw RNA seq input options
    // -----------------------
    trust4_cell_barcode_read = null
    trust4_read_format = null
    trust4_umi_read = null
    trust4_barcode_whitelist = null


    // -----------------------
    // generic nf-core options
    // -----------------------

    // References
    igenomes_base              = 's3://ngi-igenomes/igenomes/'
    igenomes_ignore            = true

    // MultiQC options
    skip_multiqc               = false
    multiqc_config             = null
    multiqc_title              = null
    multiqc_logo               = null
    max_multiqc_email_size     = '25.MB'
    multiqc_methods_description = null

    // Boilerplate options
    outdir                       = null
    publish_dir_mode             = 'copy'
    email                        = null
    email_on_fail                = null
    plaintext_email              = false
    monochrome_logs              = false
    hook_url                     = System.getenv('HOOK_URL')
    help                         = false
    help_full                    = false
    show_hidden                  = false
    version                      = false
    trace_report_suffix          = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')// Config options

    // Config options
    config_profile_name        = null
    config_profile_description = null

    custom_config_version      = 'master'
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_contact     = null
    config_profile_url         = null

    // Schema validation default options
    validate_params            = true
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

profiles {
    debug {
        dumpHashes              = true
        process.beforeScript    = 'echo $HOSTNAME'
        cleanup                 = false
        nextflow.enable.configProcessNamesValidation = true
    }
    conda {
        conda.enabled           = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        conda.channels          = ['conda-forge', 'bioconda']
        apptainer.enabled       = false
    }
    mamba {
        conda.enabled           = true
        conda.useMamba          = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    docker {
        docker.enabled          = true
        conda.enabled           = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        docker.runOptions       = '-u $(id -u):$(id -g)'
    }
    arm64 {
        process.arch            = 'arm64'
        // TODO https://github.com/nf-core/modules/issues/6694
        // For now if you're using arm64 you have to use wave for the sake of the maintainers
        // wave profile
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container'
    }
    emulate_amd64 {
        docker.runOptions       = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    singularity {
        conda.enabled = false
        singularity.enabled = true
        singularity.autoMounts = true
        conda.enabled          = false
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    podman {
        podman.enabled          = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    shifter {
        shifter.enabled         = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    charliecloud {
        conda.enabled = false
        charliecloud.enabled   = true
        conda.enabled          = false
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        apptainer.enabled      = false
    }
    apptainer {
        apptainer.enabled       = true
        apptainer.autoMounts    = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
    }
    wave {
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container'
    }
    gpu {
        docker.runOptions       = '-u $(id -u):$(id -g) --gpus all'
        apptainer.runOptions    = '--nv'
        singularity.runOptions  = '--nv'
    }
    test      { includeConfig 'conf/test.config'      }
    test_full { includeConfig 'conf/test_full.config' }
    test_tcr { includeConfig 'conf/test_tcr.config' }
    test_no_umi { includeConfig 'conf/test_no_umi.config' }
    test_assembled_hs { includeConfig 'conf/test_assembled_hs.config' }
    test_assembled_mm { includeConfig 'conf/test_assembled_mm.config' }
    test_raw_immcantation_devel { includeConfig 'conf/test_raw_immcantation_devel.config' }
    test_assembled_immcantation_devel_hs { includeConfig 'conf/test_assembled_immcantation_devel_hs.config' }
    test_assembled_immcantation_devel_mm { includeConfig 'conf/test_assembled_immcantation_devel_mm.config' }
    test_nocluster { includeConfig 'conf/test_nocluster.config' }
    test_fetchimgt { includeConfig 'conf/test_fetchimgt.config' }
    test_10x_sc { includeConfig 'conf/test_10x_sc.config' }
    test_takara_smartseq_umi_bcr { includeConfig 'conf/test_takara_smartseq_umi_bcr.config' }
    test_maskprimers_extract { includeConfig 'conf/test_maskprimers_extract.config' }
    test_maskprimers_align {includeConfig 'conf/test_maskprimers_align.config' }
    test_nebnext_umi { includeConfig 'conf/test_nebnext_umi.config' }
    test_reassign_false { includeConfig 'conf/test_reassign_false.config' }
    test_rnaseq_bulk { includeConfig 'conf/test_rnaseq_bulk.config' }
    test_rnaseq_sc { includeConfig 'conf/test_rnaseq_sc.config' }
    test_embeddings_H { includeConfig 'conf/test_embeddings_H.config' }
    test_embeddings_HL { includeConfig 'conf/test_embeddings_HL.config' }
    test_genotyping { includeConfig 'conf/test_genotyping.config' }
    nebnext_umi_tcr { includeConfig 'conf/nebnext_umi_tcr.config' }
    nebnext_umi_bcr { includeConfig 'conf/nebnext_umi_bcr.config' }
    takara_smartseq_umi_bcr { includeConfig 'conf/takara_smartseq_umi_bcr.config' }
    takara_smartseq_umi_tcr { includeConfig 'conf/takara_smartseq_umi_tcr.config' }
}

// Load nf-core custom profiles from different institutions

// If params.custom_config_base is set AND either the NXF_OFFLINE environment variable is not set or params.custom_config_base is a local path, the nfcore_custom.config file from the specified base path is included.
// Load nf-core/airrflow custom profiles from different institutions.
includeConfig params.custom_config_base && (!System.getenv('NXF_OFFLINE') || !params.custom_config_base.startsWith('http')) ? "${params.custom_config_base}/nfcore_custom.config" : "/dev/null"


// Load nf-core/airrflow custom profiles from different institutions.
includeConfig params.custom_config_base && (!System.getenv('NXF_OFFLINE') || !params.custom_config_base.startsWith('http')) ? "${params.custom_config_base}/pipeline/airrflow.config" : "/dev/null"

// Set default registry for Apptainer, Docker, Podman, Charliecloud and Singularity independent of -profile
// Will not be used unless Apptainer / Docker / Podman / Charliecloud / Singularity are enabled
// Set to your registry if you have a mirror of containers
apptainer.registry    = 'quay.io'
docker.registry       = 'quay.io'
podman.registry       = 'quay.io'
singularity.registry  = 'quay.io'
charliecloud.registry = 'quay.io'

// Load igenomes.config if required
includeConfig !params.igenomes_ignore ? 'conf/igenomes.config' : 'conf/igenomes_ignored.config'

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    R_LIBS_SITE = "NULL"
    R_LIBS_USER = "NULL"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// Set bash options
process.shell = [
    "bash",
    "-C",         // No clobber - prevent output redirection from overwriting files.
    "-e",         // Exit if a tool returns a non-zero status/exit code
    "-u",         // Treat unset variables and parameters as an error
    "-o",         // Returns the status of the last command to exit..
    "pipefail"    //   ..with a non-zero status or zero if all successfully execute
]

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}

manifest {
    name            = 'nf-core/airrflow'
    contributors    = [
        [
            name: 'Gisela Gabernet',
            affiliation: 'Yale University',
            email: 'gisela.gabernet@yale.edu',
            github: '@ggabernet',
            contribution: ['author','maintainer','contributor'],
            orcid: 'https://orcid.org/0000-0001-7049-9474'
        ],
        [
            name: 'Susanna Marquez',
            affiliation: 'Yale University',
            email: 'susanna.marquez@yale.edu',
            github: '@ssnn',
            contribution: ['author','maintainer','contributor'],
            orcid: ''
        ],
        [
            name: 'Alexander Peltzer',
            affiliation: 'Boeringer-Ingelheim GmbH',
            email: 'alex.peltzer@gmail.com',
            github: '@apeltzer',
            contribution: ['author'],
            orcid: 'https://orcid.org/0000-0002-6503-2180'
        ],
        [
            name: 'Mark Polster',
            affiliation: 'University of Tuebingen',
            email: 'mark.polster@uni-tuebingen.de',
            github: '@mapo9',
            contribution: ['maintainer','contributor'],
            orcid: ''
        ],
        [
            name: ' Simon Heumos',
            affiliation: '',
            email: '',
            github: '',
            contribution: ['contributor'],
            orcid: ''
        ],
    ]
    homePage        = 'https://github.com/nf-core/airrflow'
    description     = """B and T cell repertoire analysis pipeline with the Immcantation framework."""
    mainScript      = 'main.nf'
    defaultBranch   = 'master'
    nextflowVersion = '!>=25.04.0'
    version         = '5.0'
    doi             = 'https://doi.org/10.1371/journal.pcbi.1012265'
}

// Nextflow plugins
plugins {
    id 'nf-schema@2.5.1' // Validation of pipeline parameters and creation of an input channel from a sample sheet
}

validation {
    defaultIgnoreParams = ["genomes"]
    monochromeLogs = params.monochrome_logs
}

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'
