/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/airrflow -profile clontech_umi_bcr,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Takara Bio / SMART-seq'
    config_profile_description = 'Profile to run pipeline for the Takara Bio / Clontech SMARTer v2 (UMI) BCR protocol profile'

    mode = 'fastq'

    library_generation_method = 'dt_5p_race_umi'

    cprimers = 'https://github.com/immcantation/immcantation/raw/refs/heads/master/protocols/Universal/Human_IG_CRegion_RC.fasta'

    // primer options
    cprimer_position = 'R1'
    cprimer_start = 0
    vprimer_start = 0
    umi_length = 12
    umi_position = 'R2'
    cluster_sets = false


    // Mask primer options
    maskprimers_align_race = true
    primer_r2_extract_len = 7
    primer_r1_mask_mode = 'cut'
    primer_r2_mask_mode = 'cut'
    primer_maxlen = 70
    primer_r1_maxerror = 0.2
    assemblepairs_sequential = true
    primer_consensus = 0.6
}
