/*
 * -------------------------------------------------
 *  nf-core/bcellmagic Nextflow config file
 * -------------------------------------------------
 * Default config options for immcantation container.
 */

params {
    // Databases options
    igblast_base = '/usr/local/share/igblast/'
    imgtdb_base = '/usr/local/share/germlines/imgt/'
    species = 'human'
    loci = 'ig'
    save_databases = true
}