/*
 * -------------------------------------------------
 *  nf-core/bcellmagic Nextflow config file
 * -------------------------------------------------
 * Default config options for immcantation container.
 */

//TODO: loci should come from the metadata table
params {
    // Databases options
    igblast_base = false
    imgtdb_base = false
    species = 'human'
    loci = 'ig'
    save_databases = true
}