/*
========================================================================================
    Config file for defining DSL2 per module options
========================================================================================
    Available keys to override module options:
        args            = Additional arguments appended to command in module.
        args2           = Second set of arguments appended to command in module (multi-tool modules).
        args3           = Third set of arguments appended to command in module (multi-tool modules).
        publish_dir     = Directory to publish results.
        publish_by_meta = Groovy list of keys available in meta map to append as directories to "publish_dir" path
                            If publish_by_meta = true                 - Value of ${meta['id']} is appended as a directory to "publish_dir" path
                            If publish_by_meta = ['id', 'custompath'] - If "id" is in meta map and "custompath" isn't then "${meta['id']}/custompath/"
                                                                        is appended as a directory to "publish_dir" path
                            If publish_by_meta = false / null         - No directories are appended to "publish_dir" path
        publish_files   = Groovy map where key = "file_ext" and value = "directory" to publish results for that file extension
                            The value of "directory" is appended to the standard "publish_dir" path as defined above.
                            If publish_files = null (unspecified)     - All files are published.
                            If publish_files = false                  - No files are published.
        suffix          = File name suffix for output files.
        subcommand      = Subcommand for some tools
----------------------------------------------------------------------------------------
*/

params {
    modules {
        'fastqc' {
            args = "--quiet"
        }
        'fastqc_postassembly' {
            args = "--quiet"
        }
        'multiqc' {
            args = ""
        }
        'presto_filterseq' {
            publish_dir   = 'presto/01-filterseq'
            publish_files = [ 'log':'logs', 'tab':'tabs', 'log.txt':'logs' ]
            publish_by_id = true
        }
        'presto_filterseq_postassembly_sans_umi' {
            publish_dir   = 'presto/02-filterseq'
            publish_files = [ 'log':'logs', 'tab':'tabs', 'log.txt':'logs' ]
            publish_by_id = true
        }
        'presto_maskprimers' {
            publish_dir   = 'presto/02-maskprimers'
            publish_files = [ 'log':'logs', 'tab':'tabs', 'log.txt':'logs' ]
            publish_by_id = true
        }
        'presto_maskprimers_postassembly_sans_umi' {
            publish_dir   = 'presto/03-maskprimers'
            publish_files = [ 'log':'logs', 'tab':'tabs', 'log.txt':'logs' ]
            publish_by_id = true
        }
        'presto_pairseq' {
            publish_dir   = 'presto/03-pairseq'
            publish_files = [ 'log':'logs', 'tab':'tabs', 'log.txt':'logs' ]
            publish_by_id = true
        }
        'presto_clustersets' {
            publish_dir   = 'presto/04-clustersets'
            publish_files = [ 'log':'logs', 'tab':'tabs', 'log.txt':'logs' ]
            publish_by_id = true
        }
        'presto_parse_clusters' {
            publish_dir   = 'presto/05-parse_clusters'
            publish_files = [ 'log':'logs', 'tab':'tabs', 'log.txt':'logs' ]
            publish_by_id = true
        }
        'presto_buildconsensus' {
            publish_dir   = 'presto/06-buildconsensus'
            publish_files = [ 'log':'logs', 'tab':'tabs', 'log.txt':'logs' ]
            publish_by_id = true
        }
        'presto_postconsensus_pairseq' {
            publish_dir   = 'presto/07-pairseq_postconsensus'
            publish_files = [ 'log':'logs', 'tab':'tabs', 'log.txt':'logs' ]
            publish_by_id = true
        }
        'presto_assemblepairs_umi' {
            publish_dir   = 'presto/08-assemblepairs'
            publish_files = [ 'log':'logs', 'tab':'tabs', 'log.txt':'logs' ]
            publish_by_id = true
            args          = '--coord presto --rc tail --1f CONSCOUNT PRCONS --2f CONSCOUNT PRCONS'
            args2         = '-f ID BARCODE SEQCOUNT PRIMER PRCOUNT PRCONS PRFREQ CONSCOUNT LENGTH OVERLAP ERROR PVALUE'
        }
        'presto_assemblepairs_sans_umi' {
            publish_dir   = 'presto/01-assemblepairs'
            publish_files = [ 'log':'logs', 'tab':'tabs', 'log.txt':'logs' ]
            publish_by_id = true
            args          = '--rc tail'
            args2         = '-f ID SEQCOUNT PRIMER PRCOUNT PRFREQ LENGTH OVERLAP ERROR PVALUE'
        }
        'presto_parseheaders_collapse_umi' {
            publish_dir   = false
            subcommand    = 'collapse'
            args          = '-f CONSCOUNT --act min'
            publish_files = false
        }
        'presto_parseheaders_primers_umi' {
            publish_dir   = false
            publish_files = false
            args          = 'PRCONS PRCONS'
        }
        'presto_parseheaders_primers_sans_umi' {
            publish_dir   = false
            publish_files = false
            args          = 'PRIMER PRIMER'
        }
        'presto_parseheaders_metadata' {
            publish_dir   = false
            publish_files = false
        }
        'presto_collapseseq_umi' {
            publish_dir   = 'presto/09-collapseseq'
            publish_files = [ 'log':'logs', 'tab':'tabs', 'log.txt':'logs' ]
            publish_by_id = true
            args          = '-n 20 --inner --uf PRCONS --cf CONSCOUNT --act sum'
            args2         = '-f HEADER DUPCOUNT'
        }
        'presto_collapseseq_sans_umi' {
            publish_dir   = 'presto/04-collapseseq'
            publish_files = [ 'log':'logs', 'tab':'tabs', 'log.txt':'logs' ]
            publish_by_id = true
            args          = '-n 20 --inner'
            args2         = '-f HEADER DUPCOUNT'
        }
        'presto_splitseq_umi' {
            publish_dir   = 'presto/10-splitseq'
            publish_files = [ 'log':'logs', 'tab':'tabs', 'log.txt':'logs' ]
            publish_by_id = true
            args          = '-f CONSCOUNT --num 2'
        }
        'presto_splitseq_sans_umi' {
            publish_dir   = 'presto/05-splitseq'
            publish_files = [ 'log':'logs', 'tab':'tabs', 'log.txt':'logs' ]
            publish_by_id = true
            args          = '-f DUPCOUNT --num 2'
        }
        'changeo_assigngenes' {
            publish_dir   = 'changeo/01-assigngenes'
            publish_files = [ 'fasta':'fasta' ]
            publish_by_id = true
        }
        'changeo_assigngenes_reveal' {
            publish_dir   = 'changeo/assigngenes'
            publish_files = [ 'fmt7':'fmt7', 'log.txt':'logs' ]
            publish_by_id = true
        }
        'changeo_makedb' {
            publish_dir   = 'changeo/02-makedb'
            publish_files = [ 'log':'logs', 'tsv':'tab', 'log.txt':'logs' ]
            publish_by_id = true
            args          = '--regions default --format airr'
        }
        'changeo_makedb_reveal' {
            publish_dir   = 'changeo/makedb-igblast'
            publish_files = [ 'log':'logs', 'tsv':'tab', 'log.txt':'logs' ]
            publish_by_id = true
        }
        'changeo_parsedb_split' {
            publish_dir   = 'changeo/03-parsedb_split'
            publish_files = [ 'log':'logs', 'tsv':'tab', 'log.txt':'logs' ]
            publish_by_id = true
        }
        'changeo_parsedb_split_reveal' {
            publish_dir   = 'changeo/productive'
            publish_files = [ 'log':'logs', 'tsv':'tab', 'log.txt':'logs' ]
            publish_by_id = true
        }
        'changeo_parsedb_select' {
            publish_dir   = 'changeo/04-parsedb_select'
            publish_files = [ 'log':'logs', 'tsv':'tab', 'log.txt':'logs' ]
            publish_by_id = true
            args          = '-f v_call j_call -u "IG[HLK]" --regex --logic all'
            args2         = '-f v_call j_call -u "TR" --regex --logic all'
        }
        'changeo_convertdb_fasta' {
            publish_dir   = 'changeo/05-convertdb-fasta'
            publish_files = [ 'fasta':'fasta']
            publish_by_id = true
            args = '--if sequence_id --sf sequence_alignment --mf v_call dupcount'
        }
        'changeo_convertdb_fasta_from_airr' {
            publish_dir   = 'changeo/convertdb'
            publish_files = [ 'fasta':'fasta', 'log.txt':'logs']
            publish_by_id = true
            args = "--if sequence_id --sf sequence --mf cell_id consensus_count duplicate_count c_call c_cigar c_sequence_start c_sequence_end"
        }
        'merge_tables' {
            publish_dir   = 'shazam/01-merged-tables'
            publish_files = [ 'tsv':'tab']
            publish_by_id = true
        }
        'shazam_tigger_threshold' {
            publish_dir   = 'shazam/02-genotyping'
            publish_files = [ 'tsv':'tab', 'fasta':'genotype', 'genotype.pdf':'genotype', 'threshold.pdf':'plots', 'threshold.txt':'threshold' ]
            publish_by_id = true
        }
        'changeo_defineclones' {
            publish_dir   = 'changeo/06-define-clones'
            publish_files = [ 'tsv':'tab', 'log':'logs' ]
            publish_by_id = true
        }
        'changeo_creategermlines' {
            publish_dir   = 'changeo/07-create-germlines'
            publish_files = [ 'tsv':'tab', 'log':'logs' ]
            publish_by_id = true
        }
        'changeo_buildtrees' {
            publish_dir   = 'changeo/08-build-trees'
            publish_files = [ 'tsv':'tab', 'log':'logs' ]
            publish_by_id = true
        }
        'alakazam_lineage' {
            publish_dir   = 'lineage_reconstruction'
            publish_files = [ 'tsv':'tab', 'log':'logs', 'All_graphs_patient.graphml':'', 'pdf':'' ]
            publish_by_id = true
            args = 'none'
        }
        'alakazam_shazam_repertoires' {
            publish_dir   = 'repertoire_analysis'
            publish_files = [ 'repertoire_comparison':'', 'html':'' ]
            publish_by_id = false
            args = 'none'
        }
        'fetch_databases' {
            publish_dir   = 'databases'
            publish_files = [:]
            publish_by_id = false
        }
        'parse_logs' {
            publish_dir   = 'parsed_logs'
            publish_files = [ 'tsv':'sequences_table']
            publish_by_id = false
        }
        'filter_quality_reveal' {
            publish_dir   = 'changeo/quality-filter'
            publish_files = [ 'log':'logs', 'tsv':'tab', 'log.txt':'logs' ]
            publish_by_id = true
        }
        'changeo_creategermlines_reveal' {
            publish_dir   = 'changeo/chimera-filter'
            publish_files = [ 'tsv':'tab', 'log':'logs' ]
            publish_by_id = true
        }
        'remove_chimeric_reveal' {
            publish_dir   = 'changeo/chimera-filter'
            publish_files = [ 'log':'logs', 'tsv':'tab', 'log.txt':'logs' ] // 'report':'reports'
            publish_by_id = true
        }
        'single_cell_qc_reveal' {
            publish_dir   = 'changeo/single-cell-qc'
            publish_files = [ 'log':'logs', 'tsv':'tab', 'log.txt':'logs' ] // 'report':'reports'
            publish_by_id = true
        }
        'add_metadata_reveal' {
            publish_dir   = 'changeo/metadata-repertoire'
            publish_files = [ 'log':'logs', 'tsv':'tab', 'log.txt':'logs' ]
            publish_by_id = true
        }
        'detect_contamination_reveal' {
            publish_dir   = 'changeo/detect_contamination'
            publish_files = [ 'log':'logs', 'tsv':'tab', 'log.txt':'logs' ] // 'report':'reports'
            publish_by_id = true
        }
        'collapse_duplicates' {
            publish_dir   = 'changeo/collapse_duplicates'
            publish_files = [ 'log':'logs', 'tsv':'tab', 'log.txt':'logs' ] // 'report':'reports'
            publish_by_id = true
        }
        'find_threshold' {
            publish_dir   = 'changeo/find_threshold'
            publish_files = [ 'log':'logs', 'tsv':'tab', 'log.txt':'logs' ] // 'report':'reports'
            publish_by_id = true
        }
        'define_clones' {
            publish_dir   = 'changeo/define_clones'
            publish_files = [ 'log':'logs', 'tsv':'tab', 'log.txt':'logs' ] // 'report':'reports'
            publish_by_id = false
            args = ['outname':'', 'model':'hierarchical', 'method':'nt', 'linkage':'single']
        }
        'dowser_lineages' {
            publish_dir   = 'changeo/dowser_lineages'
            publish_files = [ 'log':'logs', 'tsv':'tab', 'log.txt':'logs' ] // 'report':'reports'
            publish_by_id = false
            args = ['build':'igphyml']
        }
    }
}
