/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/airrflow -profile nebnext_umi_bcr,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'NEBNext - AbSeq BCR profile'
    config_profile_description = 'Profile to run pipeline for the NEBNext - AbSeq (UMI) BCR experimental protocol'

    mode = 'fastq'
    cprimers = 'https://bitbucket.org/kleinstein/immcantation/raw/354f49228a43b4c2858d67fb09886126b314e317/protocols/AbSeq/AbSeq_R1_Human_IG_Primers.fasta'
    race_linker = 'https://bitbucket.org/kleinstein/immcantation/raw/354f49228a43b4c2858d67fb09886126b314e317/protocols/AbSeq/AbSeq_R2_TS.fasta'

    library_generation_method = 'dt_5p_race_umi'
    cprimer_position = 'R1'
    cprimer_start = 0
    umi_length = 17
    umi_position = 'R2'
    cluster_sets = false

    //presto options
    primer_r1_maxerror = 0.2
    primer_r2_maxerror = 0.5
    assemblepairs_sequential = true
    maskprimers_align = false
    align_cregion = true
    internal_cregion_sequences = 'https://bitbucket.org/kleinstein/immcantation/raw/2025594fd9a2a64df4444070171d6fc00c4e78c7/protocols/AbSeq/AbSeq_Human_IG_InternalCRegion.fasta'
    cregion_maxlen = 100
    cregion_maxerror = 0.3
    cregion_mask_mode = 'tag'
    isotype_column = 'cregion'
}
