/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/airrflow -profile nebnext_umi_tcr,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'NEBNext - AbSeq TCR profile'
    config_profile_description = 'Profile to run pipeline for the NEBNext - AbSeq (UMI) TCR experimental protocol'

    mode = 'fastq'
    cprimers = 'https://bitbucket.org/kleinstein/immcantation/raw/16f94088c1df5c7a0ee1c9ea8b403cd4d2488e8a/protocols/AbSeq/AbSeq_R1_Human_TR_Primers.fasta'
    race_linker = 'https://bitbucket.org/kleinstein/immcantation/raw/354f49228a43b4c2858d67fb09886126b314e317/protocols/AbSeq/AbSeq_R2_TS.fasta'

    library_generation_method = 'dt_5p_race_umi'
    cprimer_position = 'R1'
    cprimer_start = 0
    umi_length = 17
    umi_position = 'R2'
    cluster_sets = false

    //presto options
    primer_r1_maxerror = 0.2
    primer_r2_maxerror = 0.5
    assemblepairs_sequential = true
    maskprimers_align = false
    align_cregion = false
    cregion_maxlen = 100
    cregion_maxerror = 0.3
    cregion_mask_mode = 'tag'

    //TCR options
    clonal_threshold = 0
    skip_lineage
}
