/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    AWS ECR Config
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config to set public AWS ECR images wherever possible
    This improves speed when running on AWS infrastructure.
    Use this as an example template when using your own private registry.
----------------------------------------------------------------------------------------
*/

docker.registry = 'public.ecr.aws'
podman.registry = 'public.ecr.aws'

process {
    withName: 'FASTQC' {
        container = 'quay.io/biocontainers/fastqc:0.11.9--0'
    }
    withName: 'FASTQC_POSTASSEMBLY' {
        container = 'quay.io/biocontainers/fastqc:0.11.9--0'
    }
    withName: 'MERGE_UMI' {
        container = 'quay.io/biocontainers/mulled-v2-adc9bb9edc31eb38b3c24786a83b7dfa530e2bea:47d6d7765d7537847ced7dac873190d164146022-0'
    }
    withName: 'RENAME_FASTQ' {
        container = 'quay.io/biocontainers/mulled-v2-adc9bb9edc31eb38b3c24786a83b7dfa530e2bea:47d6d7765d7537847ced7dac873190d164146022-0'
    }
}
