/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/airrflow -profile test_assembled_immcantation_hs_devel,<docker/singularity>
 */

params {
    config_profile_name        = 'Test assembled mode with Immcantation custom_container'
    config_profile_description = 'Minimal human test dataset to check pipeline function on assembled mode with Immcantation custom_container'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = 6.GB
    max_time   = 6.h

    // Input data
    mode = 'assembled'
    input = pipelines_testdata_base_path + 'testdata-reveal/test_assembled_metadata_hs.tsv'
    reference_fasta = pipelines_testdata_base_path + 'database-cache/imgtdb_base.zip'
    reference_igblast = pipelines_testdata_base_path + 'database-cache/igblast_base.zip'

    reassign = true
    productive_only = true
    collapseby = 'filename'
    cloneby = 'subject_id'
    crossby = 'subject_id'
    remove_chimeric = true
}

process{

    // all process with label 'immcantation' will be tested with this container instead.
    withLabel:immcantation{
        container = 'docker.io/immcantation/suite:devel'
    }
}

env {
    PYTHONNOUSERSITE = 0
}
