/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/airrflow -profile test,<docker/singularity>
 */

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test assembled mode with mouse data'
    config_profile_description = 'Minimal mouse test dataset to test assembled mode with mouse data'

    // Input data
    mode = 'assembled'
    input = pipelines_testdata_base_path + 'testdata-reveal/test_assembled_metadata_mm.tsv'
    reference_fasta = pipelines_testdata_base_path + 'database-cache/imgtdb_base.zip'
    reference_igblast = pipelines_testdata_base_path + 'database-cache/igblast_base.zip'

    reassign = true
    productive_only = true
    collapseby = 'filename'
    cloneby = 'subject_id'
    remove_chimeric = true

    lineage_trees = true
}
