/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/airrflow -profile test_fetchimgt,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/
process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test IMGTdb fetch'
    config_profile_description = 'Test pipeline when fetching the latest version of the IMGT references.'

    // Input data
    input = pipelines_testdata_base_path + 'testdata-bcr/Metadata_small_test_airr.tsv'
    cprimers = pipelines_testdata_base_path + 'testdata-bcr/C_primers.fasta'
    vprimers = pipelines_testdata_base_path + 'testdata-bcr/V_primers.fasta'
    fetch_imgt = true

    mode = 'fastq'

    library_generation_method = 'specific_pcr_umi'
    cprimer_position = 'R1'
    umi_length = 8
    umi_start = 6
    umi_position = 'R1'
    index_file = true
}

process{
    withName:"CLONAL_ASSIGNMENT*"{
        ext.args = ['outname':'', 'model':'hierarchical',
                    'method':'nt', 'linkage':'single',
                    'outputby':'sample_id', 'min_n':10]
    }
}
