/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/bcellmagic -profile test,<docker/singularity>
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'
  // Limit resources so that this can run on GitHub Actions
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h
  index_file = false
  umi_length = 12
  umi_position = 'R2'
  loci = 'tr'
  cprimer_start = 5
  skip_downstream = true
  threshold_method = 'gmm'

  
  // Input data
  input = 'https://raw.githubusercontent.com/nf-core/test-datasets/bcellmagic/testdata-tcr/TCR_metadata.tsv'
  cprimers = 'https://raw.githubusercontent.com/nf-core/test-datasets/bcellmagic/testdata-tcr/C_primers.fasta'
  race_linker = 'https://raw.githubusercontent.com/nf-core/test-datasets/bcellmagic/testdata-tcr/linker.fasta'
}

