/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/airrflow -profile test,<docker/singularity>
 */

params {
    config_profile_name        = 'Test Reveal profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = 6.GB
    max_time   = 6.h

    // Input data
    subworkflow = 'reveal'
    input = 'https://raw.githubusercontent.com/nf-core/test-datasets/airrflow/testdata-reveal/test_reveal_metadata.tsv'
    outdir = 'test-reveal-results'
    tracedir = 'test-reveal-results/pipeline_info'
    imgtdb_base = 'https://raw.githubusercontent.com/nf-core/test-datasets/airrflow/database-cache/imgtdb_base.zip'
    igblast_base = 'https://raw.githubusercontent.com/nf-core/test-datasets/airrflow/database-cache/igblast_base.zip'

    reassign = true
    productive_only = true
    collapseby = 'filename'
    cloneby = 'subject_id'
    remove_chimeric = true
}

process {
    withLabel:immcantation {
        container = 'immcantation/suite:devel'
    }
}

env {
    PYTHONNOUSERSITE = 0
}

