/*
 * -------------------------------------------------
 *  Nextflow config file for running full-size tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a full size pipeline test. Use as follows:
 *   nextflow run nf-core/bcellmagic -profile test_full,<docker/singularity>
 */

params {
  config_profile_name = 'Full test profile'
  config_profile_description = 'Full test dataset to check pipeline function'

  // Input data
  input = 's3://nf-core-awsmegatests/bcellmagic/input_data/pcr_umi/metadata_pcr_umi.tsv'
  cprimers = 's3://nf-core-awsmegatests/bcellmagic/input_data/pcr_umi/cprimers.fasta'
  vprimers = 's3://nf-core-awsmegatests/bcellmagic/input_data/pcr_umi/vprimers.fasta'

  // Other params
  protocol = 'pcr_umi'
  cprimer_position = 'R1'
  index_file = false
  umi_length = 15
  umi_start = 0
  umi_position = 'R1'
  loci = 'ig'
}
