/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/airrflow -profile test_mixcr_bulk,<docker/singularity>
 */

process {
    resourceLimits = [
        cpus: 2,
        memory: '6.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name = 'Test MiXCR toolset on bulk data.'
    config_profile_description = 'Minimal test dataset to check pipeline functionality with raw bulk data using the MiXCR toolset'


    // params
    mode = 'fastq'
    library_generation_method = 'mixcr'
    kit = "irepertoire-human-rna-xcr-repseq-lr"
    clonal_threshold = 0
    mixcr_postanalysis = true
    mixcr_downsampling = "count-read-auto"
    mixcr_weightfunction = "none"
    mixcr_productive_only = true
    mixcr_drop_outliers = true
    mixcr_overlap_criteria = "CDR3|AA|V|J"
    mixcr_diversity_plottype = "boxplot"


    // Input data
    input = pipelines_testdata_base_path + 'testdata-tcr/TCR_metadata_airr.tsv'
    imgt_mixcr = "https://github.com/repseqio/library-imgt/releases/download/v8/imgt.202312-3.sv8.json.gz"
}
