/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/airrflow -profile test_embeddings,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test HL embeddings'
    config_profile_description = 'Minimal test dataset to test embeddings'

    // Input data
    mode = 'assembled'
    input = pipelines_testdata_base_path + 'testdata-reveal/test_assembled_metadata_tiny.tsv'
    reference_fasta = pipelines_testdata_base_path + 'database-cache/imgtdb_base.zip'
    reference_igblast = pipelines_testdata_base_path + 'database-cache/igblast_base.zip'

    reassign = true
    productive_only = true
    collapseby = 'filename'
    cloneby = 'subject_id'
    lineage_trees = false
    clonal_threshold = 0.1
    skip_report_threshold = true
    skip_all_clones_report = true
    skip_clonal_analysis = true
    embeddings = 'antiberty,antiberta2,balmpaired,esm2'
    embedding_chain = "HL"
}

process{
    withName:"CLONAL_ASSIGNMENT*"{
        ext.args = ['outname':'', 'model':'hierarchical',
                    'method':'nt', 'linkage':'single',
                    'outputby':'sample_id', 'min_n':10]
    }

    withName:"AMULETY_ESM2"{
        ext.args = '--batch-size 20'
    }
}
