/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/airrflow -profile test_rnaseq_sc,<docker/singularity>
 */

params {
    config_profile_name = 'Test single-cell RNA-seq based workflow using TRUST4'
    config_profile_description = 'Minimal test dataset to check pipeline function with raw single-cell RNA-seq data'

    // Limit resources so that this can run on GitHub Actions
    max_cpus = 2
    max_memory = 6.GB
    max_time = 48.h

    // params
    mode = 'fastq'
    library_generation_method = 'trust4'
    clonal_threshold = 0
    barcode_read = R1
    umi_position = R1
    read_format = "bc:0:15,um:16:27"
    skip_lineage = True

    // Input data
    input = 'https://raw.githubusercontent.com/nf-core/test-datasets/airrflow/testdata-rnaseq/sc_rnaseq_metadata.tsv'
    coord_fasta = 'https://raw.githubusercontent.com/nf-core/test-datasets/airrflow/testdata-rnaseq/IMGT+C.fa'
}
