/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/bcellmagic -profile test
 */

params {
  // Limit resources so that this can run on Travis
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h
  // Input data
  metadata = 'metadata/Metadata_test.tsv'
  cprimers = 'metadata/C_primers.fasta'
  vprimers = 'metadata/V_primers.fasta'
  imgtdb_base = 'db-cache/imgtdb_base'
  igblast_base = 'db-cache/igblast_base'
}
