/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/airrflow -profile test_clontech_umi,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/
includeConfig 'clontech_umi_bcr.config'

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '6.h'
    ]
}

params {
    config_profile_name        = 'Test profile for TAKARA protocol'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input = pipelines_testdata_base_path +'testdata-clontech/samplesheet.tsv'

    reference_fasta = pipelines_testdata_base_path + 'database-cache/imgtdb_base.zip'
    reference_igblast = pipelines_testdata_base_path + 'database-cache/igblast_base.zip'

    clonal_threshold = 0.1

}
