/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/bcellmagic -profile test,<docker/singularity>
 */

params {
  config_profile_name        = 'Test Reveal profile without Immcantation custom_container'
  config_profile_description = 'Minimal test dataset to check pipeline function withot Immcantation custom_container'

  // Limit resources so that this can run on GitHub Actions
  max_cpus   = 2
  max_memory = 6.GB
  max_time   = 6.h

  // Input data
  // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
  // TODO nf-core: Give any required params for the test so that command line flags are not needed
  subworkflow = 'reveal'
  input = 'https://raw.githubusercontent.com/nf-core/test-datasets/airrflow/testdata-reveal/test_reveal_metadata.tsv'
  outdir = 'test-reveal-results-no-cc'
  tracedir = 'test-reveal-results-no-cc/pipeline_info'

  reassign = true
  productive_only = true
  collapseby = 'filename'
  cloneby = 'subject_id'
  remove_chimeric = true

  imgtdb_base = false
  igblast_base = false

}
