/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/airrflow -profile test,<docker/singularity>
 */

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test genotyping'
    config_profile_description = 'Minimal test dataset to test genotyping'

    // Input data
    mode = 'assembled'
    input = pipelines_testdata_base_path + 'testdata-genotyping/test_genotyping_metadata.tsv'
    reference_fasta = pipelines_testdata_base_path + 'database-cache/imgtdb_base.zip'
    reference_igblast = pipelines_testdata_base_path + 'database-cache/igblast_base.zip'

    // Genotyping
    genotyping = true
}
