/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/airrflow -profile test_10x_sc,<docker/singularity>
 */

process {
    resourceLimits = [
        cpus: 2,
        memory: '6.GB',
        time: '6.h'
    ]
}

params {
    config_profile_name = 'Test 10xGenomics single cell data'
    config_profile_description = 'Minimal test dataset to check pipeline function with raw single cell data from 10xGenomics'

    // params
    mode = 'fastq'
    library_generation_method = 'sc_10x_genomics'
    clonal_threshold = 0


    // Input data
    input = pipelines_testdata_base_path + 'testdata-sc/10x_sc_raw.tsv'
    reference_10x = pipelines_testdata_base_path + 'testdata-sc/refdata-cellranger-vdj-GRCh38-alts-ensembl-5.0.0.tar.gz'
}
